body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.button-container button{
    margin-left: 10px;
}

button {
    margin-top: 10px;
}

div.ip-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2px;
}

.ip-container label {
    margin-right: 10px;
}

.ip-container input {
    width: 150px;
    margin-right: 15px;
}

div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

h2 {
    margin-bottom: 5px;
    margin-right: 5px;
}

.video-container {
    width: 85%;
}

.video-image {
    max-width: 100%;
}

@media (max-width: 900px) {
    div {
        flex-direction: column;
        align-items: center;
    }

    .video-container {
        margin-top: 5px;
        max-width: 80%;
    }

    .button-container {
        flex-direction: row; /* Change from row to column */
        align-items: center; /* Align buttons in the center */
        margin-top: 10px;
    }

    .button-container button {
        margin-top: 10px; /* Add top margin to separate buttons */
    }
}

